{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 


{%block styles %}

<style>
#donut-chart-52{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}

#top-heading{
    display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

#example-table{
  margin-top:3%;
}

</style>

{% endblock %}

{%block content %}
<h2 id="top-heading">Pending Orders at DC</h2>

<div id="donut-chart-52" class="example-donut-chart-right-legend"></div>

<div id="example-table"></div>

{% endblock %}




{% block scripts %}



<script>
var tabledata = [];

var jsonobj = {{ json_obj|safe }};

for (i = 0; i < {{length}}; i++) {
  
  var p = jsonobj[i];
  tabledata.push(p);

}

var pending = {{pending}}
var executing = {{executing}}
      var donutData = {
        type: "donut",
        columns: [["pending", pending], ["executing", executing]],
        onclick: function(d, i) {
          console.log("onclick", d, i);
        },
        onmouseover: function(d, i) {
          console.log("onmouseover", d, i);
        },
        onmouseout: function(d, i) {
          console.log("onmouseout", d, i);
        }
      };

      var donutChartRightConfig = {};
      donutChartRightConfig.bindto = "#donut-chart-52";
      donutChartRightConfig.tooltip = { show: true };
      donutChartRightConfig.data = donutData;
      donutChartRightConfig.legend = {
        show: true,
        position: "right"
      };
      
      donutChartRightConfig.tooltip = {
        contents: $().pfDonutTooltipContents
      };

      var donutChartRightLegend = c3.generate(donutChartRightConfig);



 

 var table = new Tabulator("#example-table", {
 	height:500, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
 	data:tabledata, //assign data to table
 	layout:"fitColumns", //fit columns to width of table (optional)
 	columns:[ //Define Table Columns
	 	{title:"Order Code", field:"order_code", width:150},
	 	{title:"Customer", field:"Customer", align:"left"},
	 	{title:"Order Status", field:"order_status"},
	 	{title:"AreaDescr", field:"AreaDescr"},
    {title:"InputDate", field:"InputDate"},
    {title:"OrderShipmentStatus", field:"OrderShipmentStatus"},
    {title:"Truck", field:"Truck"},
    {title:"ShipDate", field:"ShipDate"}
 	],
 	rowClick:function(e, row){ //trigger an alert message when the row is clicked
 		alert("Row " + row.getData().id + " Clicked!!!!");
 	},
});
</script>
{% endblock %}

